/* Animation Container - Centered and Relative */
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 100px;
    z-index: 20;
    animation: speeder 0.4s linear infinite;
}

/* Exhaust Fumes / Speed Lines from the back */
.loader>span {
    height: 5px;
    width: 35px;
    background: #8b5cf6;
    /* Purple Exhaust */
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -2px;
    border-radius: 2px 10px 1px 0;
    z-index: 1;
    /* Behind body */
}

/* Speeder Body Container */
.base {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
    /* Adjust center to visual center of speeder */
    width: 0;
    height: 0;
    z-index: 10;
}

/* Speeder Main Body (Triangle) */
.base span {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 100px solid #7c3aed;
    /* Violet 600 - Main Body Color */
    border-bottom: 6px solid transparent;
    top: -6px;
    /* Center vertically relative to base */
    left: -50px;
    /* Center horizontally */
}

/* Character Head/Helmet (Circle) */
.base span:before {
    content: "";
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background: #06b6d4;
    /* Cyan - Character Head */
    box-shadow: 0 0 10px #06b6d4;
    /* Glow */
    position: absolute;
    right: -110px;
    /* Position at the back/top of the triangle */
    top: -16px;
    z-index: 15;
}

/* Tail / Rear Detail */
.base span:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0 solid transparent;
    border-right: 55px solid #6d28d9;
    /* Darker Purple - Rear Detail */
    border-bottom: 16px solid transparent;
    top: -16px;
    right: -98px;
}

/* Front Windshield / Face / Spoiler */
.face {
    position: absolute;
    height: 12px;
    width: 20px;
    background: #6d28d9;
    /* Darker Purple */
    border-radius: 20px 20px 0 0;
    transform: rotate(-40deg);
    right: -125px;
    /* Far back position */
    top: -15px;
}

/* Accent on Face */
.face:after {
    content: "";
    height: 12px;
    width: 12px;
    background: #06b6d4;
    /* Cyan Accent */
    right: 4px;
    top: 7px;
    position: absolute;
    transform: rotate(40deg);
    transform-origin: 50% 50%;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 0 5px #06b6d4;
}

/* Speed Lines Particles */
.loader>span>span {
    width: 30px;
    height: 1px;
    background: #ffffff;
    position: absolute;
    opacity: 0.5;
}

.loader>span>span:nth-child(1) {
    animation: fazer1 0.2s linear infinite;
}

.loader>span>span:nth-child(2) {
    top: 3px;
    animation: fazer2 0.4s linear infinite;
}

.loader>span>span:nth-child(3) {
    top: 1px;
    animation: fazer3 0.4s linear infinite;
    animation-delay: -1s;
}

.loader>span>span:nth-child(4) {
    top: 4px;
    animation: fazer4 1s linear infinite;
    animation-delay: -1s;
}

@keyframes fazer1 {
    0% {
        left: 0;
    }

    100% {
        left: -80px;
        opacity: 0;
    }
}

@keyframes fazer2 {
    0% {
        left: 0;
    }

    100% {
        left: -100px;
        opacity: 0;
    }
}

@keyframes fazer3 {
    0% {
        left: 0;
    }

    100% {
        left: -50px;
        opacity: 0;
    }
}

@keyframes fazer4 {
    0% {
        left: 0;
    }

    100% {
        left: -150px;
        opacity: 0;
    }
}

@keyframes speeder {
    0% {
        transform: translate(-50%, -50%) translate(2px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-50%, -50%) translate(-1px, -3px) rotate(-1deg);
    }

    20% {
        transform: translate(-50%, -50%) translate(-2px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(-50%, -50%) translate(1px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(-50%, -50%) translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-50%, -50%) translate(-1px, 3px) rotate(-1deg);
    }

    60% {
        transform: translate(-50%, -50%) translate(-1px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(-50%, -50%) translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-50%, -50%) translate(-2px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(-50%, -50%) translate(2px, 1px) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) translate(1px, -2px) rotate(-1deg);
    }
}

/* Background Speeder Lines (Longfazers) */
.longfazers {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
    pointer-events: none;
}

.longfazers span {
    position: absolute;
    height: 2px;
    width: 20%;
    background: #06b6d4;
    /* Cyan speed lines */
    opacity: 0.3;
}

.longfazers span:nth-child(1) {
    top: 20%;
    animation: lf 0.6s linear infinite;
    animation-delay: -5s;
}

.longfazers span:nth-child(2) {
    top: 40%;
    animation: lf2 0.8s linear infinite;
    animation-delay: -1s;
}

.longfazers span:nth-child(3) {
    top: 60%;
    animation: lf3 0.6s linear infinite;
}

.longfazers span:nth-child(4) {
    top: 80%;
    animation: lf4 0.5s linear infinite;
    animation-delay: -3s;
}

@keyframes lf {
    0% {
        left: 200%;
    }

    100% {
        left: -200%;
        opacity: 0;
    }
}

@keyframes lf2 {
    0% {
        left: 200%;
    }

    100% {
        left: -200%;
        opacity: 0;
    }
}

@keyframes lf3 {
    0% {
        left: 200%;
    }

    100% {
        left: -100%;
        opacity: 0;
    }
}

@keyframes lf4 {
    0% {
        left: 200%;
    }

    100% {
        left: -100%;
        opacity: 0;
    }
}

/* Clouds */
.clouds {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    overflow: hidden;
    pointer-events: none;
}

.cloud {
    position: absolute;
    background: rgba(255, 255, 255, 0.05);
    /* Very subtle clouds */
    border-radius: 50%;
    animation: moveClouds linear infinite;
}

.cloud::before,
.cloud::after {
    content: "";
    position: absolute;
    background: inherit;
    border-radius: 50%;
}

.cloud::before {
    width: 60%;
    height: 60%;
    top: -30%;
    left: 10%;
}

.cloud::after {
    width: 40%;
    height: 40%;
    top: -20%;
    left: 50%;
}

.cloud1 {
    width: 100px;
    height: 60px;
    top: 15%;
    left: 100%;
    animation-duration: 2s;
}

.cloud2 {
    width: 150px;
    height: 80px;
    top: 35%;
    left: 100%;
    animation-duration: 3s;
    animation-delay: 0.5s;
}

.cloud3 {
    width: 80px;
    height: 50px;
    top: 20%;
    left: 100%;
    animation-duration: 4s;
    animation-delay: 1.5s;
}

.cloud4 {
    width: 100px;
    height: 80px;
    top: 70%;
    left: 100%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.cloud5 {
    width: 170px;
    height: 50px;
    top: 80%;
    left: 100%;
    animation-duration: 2s;
    animation-delay: 0.2s;
}

@keyframes moveClouds {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-1000px);
    }
}